@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
*{
  font-family: 'Trocchi', serif;
}
.header{
  position:static;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 0.1px;
  padding-bottom: 0.01px;
  background: radial-gradient(circle,rgb(234, 177, 177),rgb(120, 120, 161))
}
 .body{
  min-height: 81.5vh;
  width: 100vw;
}

.foot{
  position:sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(154, 154, 154);
  color: white;
}
ul{
  list-style-type:none;
}
.label{
  font-size: 8vh;
  height: 70px;
  border: 1px solid red;
  min-width: 300px;
  display:inline-flex;
  justify-content: center;
  align-items: center;
}
.checkbox{  
  margin-left: 25vw;
  margin-top: 2%;
  width: 90px;
  height: 10vh;
}
.button{
  margin-left: 30px;
  width: 40px;
  height: 40px;
}
.button:hover{
  background-color: red;
}
.form{
  margin-top: 30px;
  justify-content:center;
  display: flex;
  align-items: center;
}
#inp{
  width:max-content;
  margin-left: 10px;
  margin-right: 10px;
}
.but:hover{
  background-color: rgb(44, 221, 44);
}
@media  (max-width: 480px) {
  .label{
    font-size: 20px;
    height: 40px;
    min-width: 250px;
  }
  .checkbox{ 
    display: inline-block;
    margin-top: 10px;
    height: 40px;
    margin-left: -40px;
  }
  .button{
    margin-left: 20px;
    width: 45px;
    height: 45px;
  }
  .button:hover{
    background-color: red;
  }  
  .searchform{
    margin-left: 50px;
    margin-top: 20px;
  }
  .searchbox{
   border-radius: 5px;
    height: 30px;
  }
  .buttonadd{
    width: 40px;
    height: 35px;
  }
}