html{
  margin: 0;
}
.header{
  height: auto;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle,rgb(234, 177, 177),rgb(120, 120, 161))
}
.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  list-style-type:disc;
}
.div{
  margin-top: 30%;
  text-align: center;
}
.label{
  display:inline-block;
  width: 300px;
  margin-left: 5px;
}
ul{
  list-style: none;
}
.butt{
  width: 30px;
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
.butt:hover{
  background-color: red;
}
.foot{
  text-align: center;
  background-color: rgb(154, 154, 154);
  color: white;
  position: sticky;
  bottom: 0;
}
.form{
  margin-top: 30px;
  justify-content:center;
  display: flex;
  align-items: center;
}
#inp{
  width:max-content;
  margin-left: 10px;
  margin-right: 10px;
}
.but:hover{
  background-color: rgb(44, 221, 44);
}